body {
    margin: 0;
}

#game {
    margin: auto;
    display: block;
    width: 900px;
    height: 600px;
    background-color: white;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#main-menu {
    cursor: pointer;
    padding-top: 10px;
    font-size: 15px;
}